body {
	background-image: url(images/egg.jpg);
	background-repeat: no-repeat;
}

nav {
	font: normal 1em 'Raleway', cursive;
	text-align: left;
}
h1 {
	font: normal 10em 'Raleway', sans-serif;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 7px;
	
}

h2{
	font: 2em 'Fredoka One', serif;
	text-align: right;

}
p{

	font-family: 100 1.5em 'Raleyway', sans-serif;
	text-align: right
}