* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
header {
	background: rgba(255, 255, 255, 0.8);
	color: #0D4276;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.15em;
	font-weight: bold;
	height: 55px;
	position: absolute;
	width: 100%;
}
header a {
	color: #0E83F5;
  	text-decoration: inherit; 	
  	margin-top: 10px;
}
nav {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: normal;
	float: right;
	margin-top: 15px;
}
li {
	display: inline;
	margin-right: 30px;
}
figure {
	background: rgba(14, 131, 245, 0.8);
	color: #ffffff;
	float: right;
	height:300px;
	width: 850px;
	margin-top: 300px;
}
figcaption {
	font-size: 1.15em;
	line-height: 1.5em;
	padding: 40px 5px;
}
footer {
	color: #0E83F5;
	text-align: center;
}
br {
	line-height: 2em;
}
nav a:hover {
	color: #A90B01;
}
.logo-button {
	height: 50px;
	margin: 2px 0 2px 15px;
	padding: 2px;
}
.RCYhome-button {
	font-weight: bold;
	font-size: 1.5em;
	position: inherit;
}
.RCYhome-button:hover {
	color:#A90B01;
}
.donate {
	background-color: #A90B01;
	color: #ffffff;
  	width: 100px;
  	text-align: center;
  	padding: 5px;
  	font-weight: bold;
}
.donate:hover {
	background-color: #A4B603;
	color: #ffffff;
	}
.bx-wrapper {
	background-image: url(images/coverphoto.JPG);
	background-repeat: no-repeat;
	background-size: 100% 800px;
}
.logo-image {
	width: 470px;
	height: 300px;
	float: left;
	padding:40px 25px 40px 15px;
}
.learn-more {
	background-color: #A90B01;
	color: #ffffff;
  	text-decoration: inherit;
  	width: 100px;
  	text-align: center;
  	padding: 0px 10px;
  	font-weight: bold;
}
.learn-more:hover {
	background-color: #A4B603;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

