.stripes {
background: url(images/stripes.png) repeat-x;
height:13px;
width:100%;
position:absolute;
left:0;
top:0;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	margin-right: 0em;
	margin-left: 5em;
	margin-top: 15em;
	margin-bottom: 15em;
}
hr {
	margin-top: 2em;
	margin-right:0em;
	margin-left: 0em;
	width: 35px;
	border-color: #fd6e6e;
}
p {
	font-family: Lato, Arial,"Helvetica Neue";
	font-size: 26px;
	font-weight: 100;
	color: #fefefe ;
	line-height: 1em;
}